<h1>Listing movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Poster</th>
      <th colspan="3"></th>
    </tr>
  </thead>


<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.themoviedb.org/t/p/w600_and_h900_bestv2/26VJNsFVLZauRT6gIYz5B4hXLRD.jpg); height: 900px;">
    Les Nuits de Cabiria (1957)
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.themoviedb.org/t/p/w600_and_h900_bestv2/AqlatSuJvfzzGqKHMPpnF4RRGyM.jpg); height: 900px;">
    L'Éclipse (1962)
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.themoviedb.org/t/p/w600_and_h900_bestv2/fHEKpWlbMr0mXD5MtMpBlvcx3TQ.jpg); height: 900px;">
    Girl, Interrupted (1999)
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.themoviedb.org/t/p/w600_and_h900_bestv2/fmCJvc6ZpPaeSGS4bgfc3n5rt00.jpg); height: 900px;">
    Talk to Her (2002)
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.themoviedb.org/t/p/w600_and_h900_bestv2/86UEvw3t8amtxepQRtBiQHkk954.jpg); height: 900px;">
    The Gentlemen (2019)
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.themoviedb.org/t/p/w600_and_h900_bestv2/hQ8vLJyws0tAYbBmzpTKbjdNHKI.jpg); height: 900px;">
    A Bigger Splash (2015)
  </div>
</div>



